# Virtual environment
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# Alembic migration cache
migrations/__pycache__/

# IDE & editor settings
.vscode/
.idea/

# OS cache
Thumbs.db
.DS_Store

# Deployment configs (opsional)
*.bak
*.tmp

# Node modules (kalau ada frontend tambahan)
node_modules/

# Static build cache
static/cache/
